html, body {
  margin: 0;
  padding: 0;
  color: #e4e5f1;
  text-shadow: 2px 2px 4px #000000;
  background-color: #25273c;
}

.faded {
  color: #888990;
}

.select {
  display: flex;
  justify-content: flex-end;
}

.header {
  padding: 2vw;
  display: flex;
  justify-content: flex-start;
}

.nav {
  display: flex;
  justify-content: flex-start;
}

.title {
  display: flex;
  justify-content: flex-end;
}

h3 {
  margin: 1vw;
}

.main {
  background-color: #777a92;
}

.subtitle {
  padding: 1vw;
  margin: 1vw;
}

.shares {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.recipeint {
  border-radius: 20px;
  margin: .75vw;
  padding: .50vw;
  background-color: #adafbd

}

.date {
  font-size: smaller;
}

.url {
  padding: .5vw;
  background-color: #cdcfd7
}

.playlist {
  font-size: smaller;
}

.number {
  color: #cacde8;
  font-size: larger;
}
